PORT=4000
WEB_ORIGIN=http://localhost:3000
GITHUB_METADATA_TIMEOUT_MS=10000
GITHUB_ARCHIVE_TIMEOUT_MS=30000
GITHUB_MAX_ARCHIVE_BYTES=52428800
GITHUB_MAX_FILE_BYTES=524288
GITHUB_MAX_SOURCE_BYTES=5242880
GITHUB_MAX_ARCHIVE_ENTRIES=10000